@import url(https://fonts.googleapis.com/css?family=Lato:400,700,900);
*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background: linear-gradient(to bottom, #8c7a7a 0%, #af877c 65%, #af877c 100%) fixed;
  font: 14px/20px "Lato", Arial, sans-serif;
  color: #9E9E9E;
  margin-top: 30px;
}

#root {
  margin: auto;
  width: 600px;
  text-align: center;
}

.wrapper {
  padding-top: 100px;
  padding-bottom: 40px;
}
.wrapper:focus {
  outline: 0;
}

.social-card {
  background: white;
  width: 300px;
  display: inline-block;
  margin: auto;
  border-radius: 19px;
  position: relative;
  text-align: center;
  box-shadow: -1px 15px 30px -12px black;
  z-index: 9999;
}

.social-card__image {
  position: relative;
  height: 230px;
  margin-bottom: 35px;
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
}

.social-card__image--user img {
  width: 300px;
  position: absolute;
  top: -65px;
  left: 0px;
}


.social-card__level {
  font-size: 12px;
  font-weight: 700;
  margin-bottom: 3px;
}

.social-card__level--user {
  color: #EC9B3B;
}


.social-card__unit-name {
  font-size: 26px;
  color: black;
  font-weight: 900;
  margin-bottom: 5px;
}

.social-card__unit-description {
  padding: 20px;
  margin-bottom: 10px;
}

.social-card__unit-stats--user {
  background: #EC9B3B;
}
.social-card__unit-stats--user .one-third {
  border-right: 1px solid #BD7C2F;
}


.social-card__unit-stats {
  color: white;
  font-weight: 700;
  border-bottom-left-radius: 14px;
  border-bottom-right-radius: 14px;
}
.social-card__unit-stats .one-third {
  width: 33%;
  float: left;
  padding: 20px 15px;
}
.social-card__unit-stats sup {
  position: absolute;
  bottom: 4px;
  font-size: 45%;
  margin-left: 2px;
}
.social-card__unit-stats .stat {
  position: relative;
  font-size: 24px;
  margin-bottom: 10px;
}
.social-card__unit-stats .stat-value {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 12px;
}
.social-card__unit-stats .no-border {
  border-right: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

